Header always set Access-Control-Allow-Origin "http://dougkarda.com"
Header always set Access-Control-Allow-Origin "http://ang1.dougkarda.com"
Header always set Access-Control-Allow-Origin "http://react.dougkarda.com"
Header always set Access-Control-Allow-Methods "POST, GET, OPTIONS, DELETE, PUT"
Header always set Access-Control-Max-Age "1000"
Header always set Access-Control-Allow-Headers "x-requested-with, Content-Type, origin, authorization, accept, client-security-token"

AddType image/svg+xml .svg .svgz